html {
	position: relative;
	min-height: 100%;
}body {
	padding-top: 54px; 	
	margin-bottom: 130px;
	background-color: #D7621A !important;
}
@media (min-width: 992px) {
	body {
		padding-top: 56px;
	}
}
#BCWnavbar {
	background-color: #413726 !important;
}
p,h1,h2,h3,h4,h5,h6,li {
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
}
a {
    color: #ede057;
}
.carousel-item {
  height: 40vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#BCWorange {
	background-color: #D7621A !important;
}
#BCWbrown {
	background-color: #2F2C2B !important;
}
.advert {
	width: 75%;
	background-color: #2F2C2B !important;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
.advert2 {
	padding: 5px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
.filters {
	width: 75%;
	background-color: #413726 !important;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}
.checkbox-inline { 
  	margin-left: 2%;
	color: #ffffff;
}
.LoginWrapper {
	width: 250px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	background-color: #2F2C2B;
	padding: 35px;
}
.ConsoleWrapper {
	width: 80%;
	max-width: 900px !important;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	background-color: #2F2C2B;
	padding: 35px;
}
#Footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0; 
	background-color: #413726 !important;
}
.c {
	width: 100%;	
	height: 60px;
}
.AddingForm {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}
.AdminForm {
	margin-bottom:10px;
}
.ContactSection {
	width: 95%;
	background-color: #2F2C2B !important;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}
