{% extends "index.html" %}
{% block title %}
BCW - About us
{% endblock %}

{% block content %}
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image:url('/static/img/hero6.jpg')"></div>
	  <div class="carousel-item" style="background-image:url('/static/img/hero5.jpg')"></div>
          <div class="carousel-item" style="background-image:url('/static/img/hero4.jpg')"></div>
        </div>
      </div>
    </header>
<br>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
	<h1 class="mt-4 mb-3">About us</h1>
          <p>The Big Cat Warehouse was founded in 2017 by Ben Wilkes after completing
          his Web Desigin and development Degree at the Edinburgh Napier
          University.</p>
          
          <p>The Big Cat Warehouse is committed to rehoming Big Cats from around the globe. From Tigers to Lynx cats, we've seen them all! Have a look at the cats we have in stock and get in touch if you see you're next partner in crime.</p> 
        
	  <p>We've have numerous enclosures all over the UK. Each enclosure is purpose build specifically for the cat in question. Come and visit us today!</p>
	</div>
        <div class="col-lg-6">
		<br><br>
          <img class="img-fluid rounded-circle img-fluid" src="/static/img/Cubs.jpg" width=70%>
        </div>
      </div>

      </div>
<br>
    </div>
{% endblock %}
