{% extends "admin.html" %}

{% block title%}
BCW - Add New Advert 
{% endblock %}

{% block logout %}
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
</li>
{% endblock %}

{% block content %}
<div class="ConsoleWrapper col-8"> 
   	<h5><a href="{{ url_for('console') }}">Administator Console</a> - Add New Advert</h5>
	<br><br>
	<div class="AddingForm">
	<form name="NewCat" class="form-horizontal" action="{{ url_for('addnew') }}" method="post" enctype="multipart/form-data">
		<h6>Select Breed</h6>
                <select class="form-control" name="breed">
    			<option>Tiger</option>
    			<option>Lion</option>
    			<option>Cheetah</option>
    			<option>Leopard</option>
			<option>Jaguar</option>
			<option>Lynx</option>
			<option>Cougar</option>
  		</select>
		<br>
		<h6>Name</h6>
		<input class="form-control" name="name" placeholder="Name">
		<br>
		<h6>Sex</h6>
                <select class="form-control" name="sex">
    			<option>Male</option>
    			<option>Female</option>
  		</select>
		<br>
		<h6>Age</h6>
		<input class="form-control" name="age" placeholder="Age">
		<br>
		<h6>Neatured</h6>
                <select class="form-control" name="neatured">
    			<option>Yes</option>
    			<option>No</option>
  		</select>
		<br>
		<h6>House Trained</h6>
                <select class="form-control" name="housetrained">
    			<option>Yes</option>
    			<option>No</option>
  		</select>
		<br>
		<h6>Child Friendly</h6>
                <select class="form-control" name="childfriendly">
    			<option>Yes</option>
    			<option>No</option>
  		</select>
		<br>
		<h6>Location</h6>
		<input class="form-control" name="location" placeholder="Location">
		<br>
		<h6>Price</h6>
		<input class="form-control" name="price" placeholder="Price">
		<br>
		<h6>Description</h6>
		<textarea class="form-control" rows="5" name="description"></textarea>
		<br>
		<h6>Photo</h6>
		<input class="form-control" type="file" name="photo"/>
		<br>
                <button id="NewCatSubmit" class="btn btn-success btn-sm">Submit</button>
	</form>
	</div>
</div>
<div class="c"></div>
{% endblock %}

