<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap core CSS -->
    <link href="{{  url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/cw2.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
       
    <title>{% block title %}BCW - Admin{% endblock %}</title>

    <link rel="icon" href="/static/img/icon.png">

  </head>

  <body>
    
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top" id="BCWnavbar">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}"><img src="/static/img/logo.png" width="50%"></img></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto"> 
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Return to site</a>
            </li>
	    {% block logout %}
	    {% endblock %}
          </ul>
        </div>
      </div>
    </nav>
    
    {% block content %}

<div class="LoginWrapper"> 
   <h5>Administator Login</h5>
   <br>
   <div class="row">
	<form class="form-horizontal AdminForm" action="{{ url_for('admin') }}" method="post">
		<h6>Username</h6>
                <input type="username" class="form-control" name="username" placeholder="Username">
		<br>
		<h6>Password</h6></label>
		<input type="password" class="form-control" name="password" placeholder="Password">
		<br>
                <button type="submit" class="btn btn-success btn-sm">Login</button>
	</form>
	{% with messages = get_flashed_messages() %}
  		{% if messages %}
    			{% for message in messages %}
      			<br>
			<h6 align="center" style="color: red">{{ message }}</h6>
    			{% endfor %}
  		{% endif %}
	{% endwith %}
    </div>
</div>


     {% endblock %}

    <!-- Footer -->
    <footer class="py-5" id="Footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ben Wilkes 2017</p>
	<p class="m-0 text-center text-white"><a href="{{ url_for('admin') }}">Admin</p></a>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/cw2.js') }}"></script>
  </body>

</html>
