{% extends "admin.html" %}

{% block title%}
BCW - Admin Console 
{% endblock %}

{% block logout %}
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
</li>
{% endblock %}

{% block content %}
<div class="ConsoleWrapper"> 
   	<h5>Administator Console</h5>
	<br><br>
	<div class="row">
  		<div class="offset-1 col-6">
			<a href="{{ url_for('addnew') }}"><img class="img-fluid" style="margin: 0 auto" src="/static/img/plus.png"></a>
			<br><br>
			<a href="{{ url_for('addnew') }}"><h6 align="center">Add New Advert</h6></a>
  		</div>

  		<div class="col col-6">
			<a href="{{ url_for('deleteadvert') }}"><img class="img-fluid" style="margin: 0 auto" src="/static/img/minus.png"></a>
			<br><br>
			<a href="{{ url_for('deleteadvert') }}"><h6 align="center">Delete Advert</h6></a>
  		</div>
  	</div><br><br>
	{% with messages = get_flashed_messages() %}
  		{% if messages %}
    			<ul class=flashes>
    				{% for message in messages %}
      				<h6 align="center" style="color: red">{{ message }}</h6>
    				{% endfor %}
    			</ul>
  		{% endif %}
	{% endwith %}
</div>
{% endblock %}

