{% extends "index.html" %}
{% block title %}
BCW - Contact us
{% endblock %}


{% block content %}
    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image:url('/static/img/hero7.jpg')"></div>
        </div>
      </div>
    </header>

<div class="container">
      <h1 class="mt-4 mb-3">Contact us </h1>
      <div class="ContactSection">  
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
          <h3>Head Office</h3>
          <p>
	    Phone: 07789783935
            <br>Hours: Mon-Fri 9-5pm<br>
            <br>Edinburgh Napier University
            <br>Merchison Campus
            <br>10 Colinton Road
            <br>Edinburgh
            <br>EH10 5DT
	</div>
	<div class="col-lg-7">
	<iframe width="100%" height="400px" frameborder="0" scrolling="no"
          marginheight="0" marginwidth="0"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.9428536196615!2d-3.2153086836637654!3d55.933028585544164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c70eb4b4beb1%3A0xc77a6056b88afee0!2s10+Colinton+Rd%2C+Edinburgh+EH10!5e0!3m2!1sen!2suk!4v1508602744882"></iframe>
        </div>
      </div> 
	<br><br>
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
		<form id="ContactMessage" name="useremail" class="form-horizontal" action="{{ url_for('contactmessage') }}" method="post">
		<h4>Send us a message!</h4><br>
		<h6>Email Address</h6>
		<input class="form-control" name="emailaddress" placeholder="Email Address">
		<br>
		<h6>Your Message</h6>
		<textarea class="form-control" rows="5" name="message"></textarea>
		<br>
                <button class="btn btn-primary" type="submit" name="submitmessage">Send Message</button>
	</form><br>
	</div>
      </div>
	{% with messages = get_flashed_messages() %}
  		{% if messages %}
    			{% for message in messages %}
      			<br>
			<h6 align="center" style="color: red">{{ message }}</h6>
    			{% endfor %}
  		{% endif %}
	{% endwith %} 
</div>
<br>
{% endblock %}
