{% extends "admin.html" %}

{% block title%}
BCW - Delete Adverts
{% endblock %}

{% block logout %}
<li class="nav-item">
	<a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
</li>
{% endblock %}

{% block content %}
<div class="ConsoleWrapper col-8"> 
   	<h5><a href="{{ url_for('console') }}">Administator Console</a> - Delete Adverts</h5>
	<br><br>

{% for row in rows %}
<div class="row advert">
  <div class="col col-sm-3">
	<img class="img-fluid rounded mb-3 mb-md-0" src="/{{row["Photo"]}}">
  </div>

  <div class="col-sm-5">
     <h4>{{row["Breed"]}} - {{row["Name"]}}</h4>
     <h6>Age: {{row["Age"]}}</h6>
     <h6>Sex: {{row["Sex"]}}</h6>
     <h6>Location: {{row["Location"]}}</h6>
     <h6>Price: &pound;{{row["Price"]}}</h6>
  </div> 

  <div class="col-sm-2">
	<form action="{{ url_for('deleteadvert') }}" method="POST" >
		<button class="btn btn-danger" type="submit" name="delete" value="{{row["Cat_ID"]}}">Delete Advert</button>
		<input type="hidden" name="photolocation" value="{{row["Photo"]}}"/>	
	</form>
  </div>

</div>
{% endfor %}

</div>
<div class="c"></div>
{% endblock %}

