<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap core CSS -->
    <link href="{{  url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/cw2.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
       
    <title>{% block title %}BCW - Home{% endblock %}</title>

    <link rel="icon" href="/static/img/icon.png">

  </head>

  <body>
    
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top" id="BCWnavbar">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}"><img src="/static/img/logo.png" width="50%"></img></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto"> 
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('stock') }}">Cats for Sale</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    {% block content %}

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image:url('/static/img/hero1.jpg')"></div>
	  <div class="carousel-item" style="background-image:url('/static/img/hero2.jpg')"></div>
          <div class="carousel-item" style="background-image:url('/static/img/hero3.jpg')"></div>
        </div>
      </div>
    </header>

    <section id="BCWorange">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 order-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/static/img/Lions.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6 order-1">
            <div class="p-5">
              <h2>The largest selection of Big Cats for sale in the UK!</h2>
              <p>No one else in the UK has a larger selection of Big Cats than us - that's a fact! We have enclosure centres all over the UK, including Edinburgh, London, Manchester & Leeds. Come & visit us today! </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="BCWbrown">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="/static/img/BLeopard.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-5">
              <h2>Check out our stock!</h2>
              <p>We currently have over 10 Big Cats in stock. Lions,Tigers, Leopards, you name it - we probably have it in stock. Check them out here:</p>
	      <a class="btn btn-primary" href="{{ url_for('stock') }}">Cats for Sale</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
     {% endblock %}

    <!-- Footer -->
    <footer class="py-5" id="Footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ben Wilkes 2017</p>
	<p class="m-0 text-center text-white"><a href="{{ url_for('admin') }}">Admin</p></a>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/cw2.js') }}"></script>
  </body>

</html>
