{% extends "index.html" %}

{% block title %}
DE Motors - Inventory 
{% endblock %}


{% block content %}
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="mt-4 mb-3">Stock Inventory</h1>

      <table border = 1>
         <thead>
            <td>Breed</td>
            <td>Name>/td<
            <td>Sex</td>
            <td>Age</td>
            <td>Neatured</td>
            <td>House Trained</td>
            <td>Child Friendly</td>
            <td>Location</td>
            <td>Price</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["breed"]}}</td>
               <td>{{row["name"]}}</td>
               <td> {{ row["sex"]}}</td>
               <td>{{row["age"]}}</td>
               <td>{{row["neatured"]}}</td>
               <td>{{row["house_trained"]}}</td>
               <td>{{row["child_friendly"]}}</td>
               <td>{{row["location"]}}</td>
               <td>{{row["price"]}}</td>	
            </tr>
         {% endfor %}
      </table>

   </div>
    <!-- /.container -->
{% endblock %}
