{% extends "index.html" %}

{% block title%}
{% for row in rows %}BCW - {{row["Name"]}}{% endfor %}
{% endblock %}

{% block content %}
 <div class="container">
 <h3 class="mt-4 mb-3">Return to <a href="{{ url_for('stock') }}">Cats for Sale</a></h3>

{% for row in rows %}
<div class="row advert">
  <div class="col-md-6">
	<img class="img-fluid rounded" src="/{{row["Photo"]}}">
  </div>

  <div class="col-md-6">
	<button class="btn btn-primary float-right" id="Enquire">Enquire</button>
	<form id="UserMessage" name="useremail" class="form-horizontal" action="{{ url_for('usermessage') }}" method="post">
		<h6>Email Address</h6>
		<input class="form-control" name="emailaddress" placeholder="Email Address">
		<br>
		<h6>Your Message</h6>
		<textarea class="form-control" rows="5" name="message"></textarea>
		<br>
		<input type="hidden" name="catname" value="{{row["Name"]}}"/>
                <button class="btn btn-primary" type="submit" name="submitmessage">Send Enquiry</button>
	</form>
  </div>

	<div class="row advert2">
  		<div class="col-md-7">
     			<h4>{{row["Name"]}} - {{row["Breed"]}}</h4>
     			<p>{{row["Description"]}}</p>
  		</div>
  		<div class="col-md-5">
     			<h6>Neatured: {{row["Neatured"]}}</h6>
     			<h6>House Trained: {{row["HouseTrained"]}}</h6>
     			<h6>Child Friendly: {{row["ChildFriendly"]}}</h6>
			<br>
     			<h6>Age: {{row["Age"]}}</h6>
     			<h6>Sex: {{row["Sex"]}}</h6>
     			<h6>Location: {{row["Location"]}}</h6>
     			<h6>Price: &pound;{{row["Price"]}}</h6>
  		</div>
	</div>
</div>
{% endfor %}
{% endblock %}
