{% extends "index.html" %}

{% block title %}
BCW - Cats for Sale 
{% endblock %}


{% block content %}
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="mt-4 mb-3">Cats for Sale</h1>

	{% with messages = get_flashed_messages() %}
  		{% if messages %}
    			{% for message in messages %}
      			<br>
			<h6 align="center" style="color: white">{{ message }}</h6>
    			{% endfor %}
  		{% endif %}
	{% endwith %}

<div class="row filters">
	<div class="col-12">
		<h5>Filer by Breed:</h5>
	</div>
	<div class="col-12">
		<label class="checkbox-inline"><input type="checkbox" id="TigerCheck"> Tiger</label>
		<label class="checkbox-inline"><input type="checkbox" id="LionCheck"> Lion</label>
		<label class="checkbox-inline"><input type="checkbox" id="CheetahCheck"> Cheetah</label>
		<label class="checkbox-inline"><input type="checkbox" id="LeopardCheck"> Leopard</label>
		<label class="checkbox-inline"><input type="checkbox" id="JaguarCheck"> Jaguar</label>
		<label class="checkbox-inline"><input type="checkbox" id="LynxCheck"> Lynx</label>
		<label class="checkbox-inline"><input type="checkbox" id="CougarCheck"> Cougar</label>
	</div>
	<br><br>
	<div class="col-12">
		<h5>Filer by Sex:</h5>
	</div>
	<div class="col-12">
		<label class="checkbox-inline"><input type="checkbox" id="MaleCheck"> Male</label>
		<label class="checkbox-inline"><input type="checkbox" id="FemaleCheck"> Female</label>
	</div>
</div>

{% for row in rows %}
<div class="row advert {{row["Breed"]}} {{row["Sex"]}}">
  <div class="col-md-4">
	<img class="img-fluid rounded mb-3 mb-md-0" src="/{{row["Photo"]}}">
  </div>

  <div class="col-md-5">
     <h4>{{row["Breed"]}} - {{row["Name"]}}</h4>
     <p>{{row["Description"]}}</p>
  </div>

  <div class="col-md-3">
     <h6>Age: {{row["Age"]}}</h6>
     <h6>Sex: {{row["Sex"]}}</h6>
     <h6>Location: {{row["Location"]}}</h6>
     <h6>Price: &pound;{{row["Price"]}}</h6>
  <br>
	<form action="{{ url_for('showcat') }}" method="POST" >
		<button class="btn btn-primary" type="submit" name="seemore">See More</button>
		<input type="hidden" name="catid" value="{{row["Cat_ID"]}}"/>
	</form>
  </div>
</div>
{% endfor %}

<br>
   </div>
    <!-- /.container -->
{% endblock %}
